#footerNavi{
  background: #eee;
  padding: 2em 0;
  h4{
    font-weight: 200;
    letter-spacing: 3px;
    color: #777;
    margin-bottom: 1em;
  }
  .footerItem{
    font-size: 80%;
    color: desaturate($themeColor,82%);
    margin-bottom: 2em;
    a{
      color: inherit;
    }
    ul{
      list-style: none;
      padding: 0;
      li{
        padding: .5em .8em;
        border-bottom: solid 1px ;
      }
    }
  }
}

#footerRibon{
  background: #555;
  text-align: center;
  color: white;
  padding-top: 2em;
  padding-bottom: 1em;
}