nav#footerNavi
    .container: .row
        .col-md-4.footerItem
            h4 chatbox.inc
            p Web制作に関するご相談・ご用命はお気軽にお問い合わせまで。
            p chatbox.inc
            p 大阪府大阪市北区天満2-2-15
            p
        .col-md-4.footerItem
            h4 page
            ul
                li: a(href="/") TOP
                li: a(href="/page/works") 事業内容
                li: a(href="/page/member") メンバー
                li: a(href="/page/about") 会社概要
                li: a(href="http://chatbox-contact.webflow.io/" target="blank") お問い合わせ
        .col-md-4.footerItem
            h4 links
            ul
                li: a(href="https://twitter.com/chatbox_inc" target="blank")
                    i.glyphicon.glyphicon-adjust
                    | &nbsp; Twitter
                li: a(href="https://www.facebook.com/chatbox.inc" target="blank")
                    i.glyphicon.glyphicon-adjust
                    | &nbsp; Facebook
                li: a(href="http://chatbox.connpass.com/" target="blank")
                    i.glyphicon.glyphicon-adjust
                    | &nbsp; chatbox.school event
                li: a(href="http://aim.osaka.jp/" target="blank")
                    i.glyphicon.glyphicon-adjust
                    | &nbsp; EventSpace.Aim
nav#footerRibon copyright chatbox.inc  2015

