doctype html
html(lang="en")
    head
        title chatbox-inc
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet",href="/assets/css/common.css")
    body
      include ./_navi.jade
      block content
      include ./_footer